body {
    padding: 0em;
    margin: 0em;
    font-family: sans-serif;
    font-size: 10pt;
    color: #cc33ff;
    background: black;
}

a {
    color: #cc33ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

table#header {
    width: 100%;
    margin-bottom: 1em;
}

table#header td.logo {
    width: 96px;
    vertical-align: top;
}

table#header td.title {
    font-size: 250%;
    padding-left: 10px;
    white-space: nowrap;
}

table#header td.sub {
    color: #777;
    border-top: solid 1px #444;
    padding-left: 10px;
}

table.tabs {
    border-bottom: solid 3px #444;
    border-collapse: collapse;
    margin-top: 2em;
    margin-bottom: 0px;
    width: 100%;
}

table.tabs td {
    padding: 0px 1em;
    vertical-align: bottom;
}

table.tabs td a {
    padding: 2px 0.75em;
    color: #777;
    font-size: 110%;
}

table.tabs td a.active {
    color: #000;
    background-color: #444;
}

div.footer {
    margin-top: 0.5em;
    text-align: center;
    font-size: 80%;
    color: #777;
}

div.footer a {
    color: #777;
    text-decoration: none;
}

div.footer a:hover {
    text-decoration: underline;
}

div#main {
    margin: 0px;
    padding: 2em;
    border-bottom: solid 3px #444;
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
}

div#main>*:first-child {
    margin-top: 0 !important;
}

div#main>*:last-child {
    margin-bottom: 0 !important;
}

div#main a.absent {
    color: #c00;
}

div#main a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

div#main h1, div#main h2, div#main h3, div#main h4, div#main h5, div#main h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

div#main h1 .mini-icon-link, div#main h2 .mini-icon-link, div#main h3 div#main, div#main h4 .mini-icon-link, div#main h5 .mini-icon-link, div#main h6 .mini-icon-link {
    display: none;
    color: #000;
}

div#main h1:hover a.anchor, div#main h2:hover a.anchor, div#main h3:hover a.anchor, div#main h4:hover a.anchor, div#main h5:hover a.anchor, div#main h6:hover a.anchor {
    text-decoration: none;
    line-height: 1;
    padding-left: 0;
    margin-left: -22px;
    top: 15%
}

div#main h1:hover a.anchor .mini-icon-link, div#main h2:hover a.anchor .mini-icon-link, div#main h3:hover a.anchor .mini-icon-link, div#main h4:hover a.anchor .mini-icon-link, div#main h5:hover a.anchor .mini-icon-link, div#main h6:hover a.anchor .mini-icon-link {
    display: inline-block;
}

div#main h1 tt, div#main h1 code, div#main h2 tt, div#main h2 code, div#main h3 tt, div#main h3 code, div#main h4 tt, div#main h4 code, div#main h5 tt, div#main h5 code, div#main h6 tt, div#main h6 code {
    font-size: inherit;
}

div#main h1 {
    font-size: 28px;
    color: #000;
}

div#main h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #000;
}

div#main h3 {
    font-size: 18px;
}

div#main h4 {
    font-size: 16px;
}

div#main h5 {
    font-size: 14px;
}

div#main h6 {
    color: #777;
    font-size: 14px;
}

div#main p, div#main blockquote, div#main ul, div#main ol, div#main dl, div#main table, div#main pre {
    margin: 15px 0;
}

div#main>h2:first-child, div#main>h1:first-child, div#main>h1:first-child+h2, div#main>h3:first-child, div#main>h4:first-child, div#main>h5:first-child, div#main>h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

div#main a:first-child h1, div#main a:first-child h2, div#main a:first-child h3, div#main a:first-child h4, div#main a:first-child h5, div#main a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

div#main h1+p, div#main h2+p, div#main h3+p, div#main h4+p, div#main h5+p, div#main h6+p {
    margin-top: 0;
}

div#main li p.first {
    display: inline-block;
}

div#main ul, div#main ol {
    padding-left: 30px;
}

div#main ul.no-list, div#main ol.no-list {
    list-style-type: none;
    padding: 0;
}

div#main ul li>:first-child, div#main ul li ul:first-of-type, div#main ul li ol:first-of-type, div#main ol li>:first-child, div#main ol li ul:first-of-type, div#main ol li ol:first-of-type {
    margin-top: 0px;
}

div#main ul li p:last-of-type, div#main ol li p:last-of-type {
    margin-bottom: 0;
}

div#main ul ul, div#main ul ol, div#main ol ol, div#main ol ul {
    margin-bottom: 0;
}

div#main dl {
    padding: 0;
}

div#main dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

div#main dl dt:first-child {
    padding: 0;
}

div#main dl dt>:first-child {
    margin-top: 0px;
}

div#main dl dt>:last-child {
    margin-bottom: 0px;
}

div#main dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

div#main dl dd>:first-child {
    margin-top: 0px;
}

div#main dl dd>:last-child {
    margin-bottom: 0px;
}

div#main blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
}

div#main blockquote>:first-child {
    margin-top: 0px;
}

div#main blockquote>:last-child {
    margin-bottom: 0px;
}

div#main table th {
    font-weight: bold;
}

div#main table th, div#main table td {
    border: 1px solid #ccc;
    padding: 6px 13px;
}

div#main table tr {
    border-top: 1px solid #ccc;
    background-color: #303030;
}

div#main table tr:nth-child(2n) {
    background-color: #1a1a1a;
}

div#main img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div#main span.frame {
    display: block;
    overflow: hidden;
}

div#main span.frame>span {
    border: 1px solid #ddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}

div#main span.frame span img {
    display: block;
    float: left;
}

div#main span.frame span span {
    clear: both;
    color: #333;
    display: block;
    padding: 5px 0 0;
}

div#main span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

div#main span.align-center>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}

div#main span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

div#main span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

div#main span.align-right>span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}

div#main span.align-right span img {
    margin: 0;
    text-align: right;
}

div#main span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}

div#main span.float-left span {
    margin: 13px 0 0;
}

div#main span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

div#main span.float-right>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

div#main code, div#main tt {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #eaeaea;
    background-color: #1a1a1a;
    border-radius: 3px;
}

div#main code {
    white-space: nowrap;
}

div#main pre>code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: #1a1a1a;
}

div#main .highlight pre, div#main pre {
    background-color: #303030;
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

div#main pre code, div#main pre tt {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    border: none;
}
div#main pre .signature {
    background-color: #1a1a1a;
    color: #cc33ff;
}

div#cgit div.content {
    margin:0px;
    border:none;
    border-collapse:collapse;
}
div#cgit table.list {
    border: collapse;
    border-collapse:collapse;
    width: 100%;
}
div#cgit table.list th {
    font-weight: bold;
    border-top: dashed 1px;
    border-bottom: dashed 1px;
    padding: 0.1em 0.5em 0.05em 0.5em;
    vertical-align: baseline;
}
div#cgit table.list td {
    border: none;
    padding: 0.1em 0.5em 0.1em 0.5em;
}
